$bodyColor: rgb(29, 29, 29);
$linkColor:rgba(110, 110, 110, 0.664);

*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html{
    font-size:62.5%;
}
body{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    position: relative;
    background-color: $bodyColor;
    min-height: calc(100vh+40px);   
}
.main{
    min-height: calc(90vh - 3.4rem);
}

