.alert{
    font-size:1.4rem;
    position:absolute;
    left:2rem;
    background-color:rgba(255, 0, 0, 0.13);
    width:19rem;
    padding:1rem;
    border-radius: 0 10px 10px 0;
    transform: translateY(5rem);
    
}
